<launch>
  <master auto="start"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find nav)/map/map.yaml"/>

  <include file="$(find nav)/launch/nav.launch" />

  <node name="fake_relay" pkg="topic_tools" type="relay" args="odom base_pose_ground_truth" />

  <node name="fake_localization" pkg="fake_localization" type="fake_localization" >
    <rosparam param="delta_x">-0.558798517172</rosparam>
    <rosparam param="delta_y">-0.558798517172</rosparam>
    <rosparam param="delta_yaw">3.14159265359</rosparam>
  </node>


  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find nav)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find nav)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find nav)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav)/base_local_planner_params.yaml" command="load" />
  </node>
</launch>
